body{
  background-color: #00308F;
}

.wrapper{
    width: 1895px;
    margin: 0 auto;
}

.header{
text-align: center;
width: 1895px;
height: 100px;
color: white;
background-color:#1434A4;


}
.navigation{
color: white;
width: 795px;
height: 40px;
background-color: #1DA1F2;
text-align: center;
padding-left: 1095px;

}

.rightBody {
width: 450px;
margin: 5px;
height: 700px;
color: white;
background-color: #1DA1F2;
float: right;
}

.leftBody {
    width: 1425px;
    height: 700px;
    margin: 5px;
    background-color:#1434A4;
    float: left;
    color: white;
}

.leftText{
    width: 1405px;
    height: 330px;
    margin: 10px;
    background-color: #1DA1F2;
    color: white;
}

.midImage {
width: 750px;
height: 320px;
margin: 10px;
margin-right: 40px;
background-color: #1DA1F2;
padding-right: 30px;
float: left;
color: white;
}

.rightImage {
width: 570px;
height: 320px;
margin: 10px;
color: white;

background-color: #1DA1F2;
float: right;
}

.footer{
    clear: both;
    width: 1895px;
    height: 40px;
    background-color: #1434A4;
    color: white;
    text-align: center;
