/** this changes the color of a piece of text**/
#header1{
  color: green;
}

/** this changes the size of a piece of text**/
#header2{
  font-size: 15px;
}

/** this changes the font of a piece of text**/
#paragaph1{
  font-family: sans-serif;
}

/** this changes that transforms of a piece of text by capitalizing**/
#paragaph2{
  text-transform: capitalize;
}

/** this uses nested selectors**/
.paragraph3{
  color: blue;
  text-transform: uppercase;
}

/** this uses grouping selectors to change header1 and 2 as well as paragrahps into blue text colour**/
h1,h2,p{
color: blue;
}

/** this uses nested selectors to change the text color of only h3 that is within class "firstItemInList"**/
.firstItemInList h3{
  color: magenta;
}
/** this demonstrates the use of the box model, by adding margin, padding and a border around the first image on my page"**/
.imgOfGamer{
  margin: 5px;
  border-style: solid;
  padding: 20px;
  content: attr();
  background-color: green;
}
