#content1{
  background-color: blue;
  width: 350px;
  height: 350px;
  line-height: 50px;
  float: left;
  margin-left: 250px;
}

#content2{
  background-color: red;
  width: 350px;
  height: 350px;
  line-height: 50px;
  float: right;
  margin-right: 250px;
}

#content3{
  background-color: yellow;
  width: 350px;
  height: 350px;
  float: right;
  margin-top: 350px;
  margin-right: 180px;
}


body{
  background-color: green;
}

#wrapper{
  background-color: white;
  margin: 0 auto;
}
