#wrapper{
	margin:0 auto;
	background-color:white;
}

#header{
  width:2600px;
	height:100px;
  background-color: red;
  color: white;
  padding-top: 5px;
  font-size: 25px;
	text-align: center;

}

#leftbody{
	width:2600px;
	height: 560px;
	background-color:green;
  color:white;
  padding-bottom: 40px;
  line-height: 3.5;

}

#footer{
	text-align:left;
	height:50px;
	clear:both;
  color: white;
  width:2600px;
	height: 120px;
	background-color:blue;
  line-height: 3.5;

}
