.wrapper{
  border-style: dashed;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 30px;
  margin-left: 30px;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-repeat: no-repeat;
  background size: 1365px 254px;
  background-color: green;

}

.p1{
  color: red;
}

.p2{
  color: #355E3B;
}

.p3{
  color: purple;
  background-color: green;
}
