/*This is changing the background color for the page*/
body{
  background-color:blue;
}
/*P class para1 being targetted here*/
p.Para1{
  color: red;
}
/*This is for changing the image*/
img{
  margin: 10px;
  padding: 20px;
  border: 3px black solid;
}
