*{
  margin: 0;
  padding: 0;
  font-family: sans-sans-serif;
}

.main{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right,#9c27b0, #8ecdff);

}

.brandlogo{
  width:125px;
  height:125px;
  position:absolute; left: -192px; top: -20px;

}
.navigation{
  width: 80%;
  position: sticky;
  margin: 20px auto;
  z-index: 1;
  display: flex;
  align-items: center;
}

.navigation-links{
  flex: 1;
  text-align: right;
}
/** for ul and li within nav links*/
.navigation-links ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
/** for anchor within UL and li*/
.navigation-links ul li a{
  color: #fff;
  text-decoration: none;
}

.info{
  width: 1000px;
  height: 1000px;
  position: absolute;
  top:50%;
  left: -10%;
  transform: translateY(-50%);

}

#circle{
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: rotate(0deg);
  transition: 1s;
}

/**control camera logo and text*/
.featureone{
  top: 450px;
  right: 50px;
    position: absolute;
    display: flex;
    color: white;
    margin-left: 30px;
}
.cameraicon{
  width: 70px;
  height: 70px;
}
/**control processor logo and text*/
.featuretwo{
  top: 100px;
  left: 370px;
    position: absolute;
    display: flex;
    color: white;
    margin-left: 30px;
    transform: rotate(-90deg); /**to allow the text to display in correct order so when button up and down is clicked it is always shown in the proper direction*/

}
.processoricon{
  width: 70px;
  height: 70px;
}
/**control display logo and text*/
.featurethree{
  bottom: 480px;
  left: 10px;
    position: absolute;
    display: flex;
    color: white;
    margin-left: 30px;
    transform: rotate(-180deg); /**to allow the text to display in correct order so when button up and down is clicked it is always shown in the proper direction*/

}
.displayicon{
  width: 70px;
  height: 70px;
}
/**control Battery logo and text*/
.featurefour{
  bottom: 130px;
  right: 350px;
    position: absolute;
    display: flex;
    color: white;
    margin-left: 10px;
    transform: rotate(-270deg); /**to allow the text to display in correct order so when button up and down is clicked it is always shown in the proper direction*/

}
.batteryicon{
  width: 70px;
  height: 70px;
}

/**adding some margin between header and text(p)*/
p{
  margin-top: 8px;
}

.phoneimage{
  width: 250px;
  position: absolute;
  top: 50%;
  left:40%;
  transform: translateY(-50%);
  z-index: 1;
}

.controls{
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}

h3{
  margin: 15px 0;
  color: white;
  text-align: center;
}

#arrowUp{
  width: 15px;
  height: 15px;
  cursor: pointer;

}

#arrowDown{
  width: 15px;
  height: 15px;
  cursor: pointer;
  transform: rotate(180deg);

}

.overlay{
  width: 0;
  height: 0;
  border-top: 500px solid #fff;
  border-right: 500px solid transparent;
  border-bottom: 500px solid #fff;
  border-left: 500px solid #fff;
  position: absolute;
  left: 0;
  top: 0;
}
